# Ambiente Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Logs e temporários
*.log
*.tmp
*.swp

# Build/containers
.DS_Store
.idea/
.vscode/
node_modules/
dist/
build/

# Arquivos gerados
*.tar
*.gz
*.zip
